<form class='main-grid {{cssClass}}' autocomplete='off'>
  <figure class='grid-under gu-1'></figure>
  <figure class='grid-under gu-2'></figure>
  <figure class='grid-under gu-3'></figure>
  <figure class='grid-under gu-4'></figure>

  {{! Sheet Header }}
  {{> 'systems/swade/templates/item/partials/header.hbs'}}

  {{! Sidebar }}
  <section class='sheet-sidebar'>
    {{> 'systems/swade/templates/item/partials/additional-stats.hbs'}}
  </section>

  {{! Sheet Tab Navigation }}
  <nav class='tabs' data-group='main'>
    <a class='item' data-tab='description' data-group='main'>
      {{localize 'SWADE.Desc'}}
    </a>
    <a class='item' data-tab='properties' data-group='main'>
      {{localize 'SWADE.Properties'}}
    </a>
    <a class='item' data-tab='effects'>{{localize 'SWADE.Effects'}}</a>
  </nav>

  {{! Main Section }}
  <section class='sheet-body'>
    <section class='tab description full-page' data-group='main' data-tab='description'>
      {{> 'systems/swade/templates/item/partials/tabs/description.hbs'}}
    </section>
    <section class='tab properties' data-group='main' data-tab='properties'>
      <div class='form-group'>
        <label>{{localize 'SWADE.Subtype'}}</label>
        <span class='form-fields'>
          <select name='system.subtype' {{disabled item.isOwned}}>
            {{selectOptions abilitySubtypeOptions selected=item.system.subtype localize=true}}
          </select>
        </span>
      </div>
      {{#unless abilityConfig.isArchetype}}
        <div class='form-group'>
          <label for='{{item.uuid}}-grantsPowers'>
            {{localize 'SWADE.GrantsPowers'}}
          </label>
          <span class='form-fields'>
            <input
              id='{{item.uuid}}-grantsPowers'
              type='checkbox'
              name='system.grantsPowers'
              {{checked item.system.grantsPowers}}
              data-dtype='Boolean'
            />
          </span>
        </div>
      {{/unless}}
      {{> 'systems/swade/templates/item/partials/grants.hbs'}}
    </section>
    <section class='tab effects' data-group='main' data-tab='effects'>
      {{> 'systems/swade/templates/item/partials/tabs/effects.hbs'}}
    </section>
  </section>

  <figure class='grid-cover gc-1'></figure>
  <figure class='grid-cover gc-2'></figure>
  <figure class='grid-cover gc-3'></figure>
  <figure class='grid-cover gc-4'></figure>
</form>