<li class='gear-card item weapon' data-item-id='{{item.id}}'>
  <header class='card-header flexrow'>
    <div class='item-image' style="background-image: url('{{item.img}}')"></div>
    <h4 class='item-name'>{{item.name}}</h4>
    <div class='item-controls'>
      <a class='item-control item-show'><i class='fas fa-eye'></i></a>
      {{#if item.isOwner}}
        <a class='item-control item-edit' title='{{localize "SWADE.Ed"}}'>
          <i class='fas fa-edit'></i>
        </a>
        <a class='item-control item-delete' title='{{localize "SWADE.Del"}}'>
          <i class='fas fa-trash'></i>
        </a>
      {{/if}}
    </div>
  </header>
  <div class='card-content collapsed' style='display: none;'>
    {{#unless (isEmpty item.system.damage)}}
      <div>
        <a class='damage-roll' title='{{localize "SWADE.Roll"}}'>
          {{localize 'SWADE.Dmg'}}:
          {{item.system.damage}}</a>
      </div>
    {{/unless}}
    {{#unless (isEmpty system.range)}}
      <div>{{localize 'SWADE.Range._name'}}: {{item.system.range}}</div>
    {{/unless}}
    {{#unless (isEmpty system.shots)}}
      <div>{{localize 'SWADE.Mag'}}: {{item.system.shots}}</div>
    {{/unless}}
    {{#if (gt system.rof 1)}}
      <div>{{localize 'SWADE.RoF'}}: {{item.system.rof}}</div>
    {{/if}}
    {{#unless (eq system.ap 0)}}
      <div>{{localize 'SWADE.Ap'}}: {{item.system.ap}}</div>
    {{/unless}}
    {{#unless (isEmpty item.system.notes)}}
      <div class='chips'>
        <span>{{localize 'SWADE.Notes'}}:&nbsp;</span>
        <div>{{item.enrichedNotes}}</div>
      </div>
    {{/unless}}
  </div>
</li>